/* index styles and general CSS */

.logo {
    width: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.h1, h2, h3, h4, h5, h6 {
    font-family: 'baloo';
}

label {
   font-family: 'baloo';
   font-size: 1.7rem;
   color: #3B3B3B !important;
}

p {
    font-family: 'roboto' !important;
    font-weight: 300 !important;
    color: #b1b1b1;
}

.bg {
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-stella {
    color: #ffffff !important;
    display: block;
    width: 100%;
    border-style: none !important;
    border-radius: 8px !important;
    background: linear-gradient(#44E5DB, #21C6B5);
    font-family: 'baloo';
    font-size: 1.5rem !important;
    cursor: pointer;
    text-align: center;
}

/* balance page styles */

.balanceBG {
    background-image: url('images/balanceBG.png');
    background-position: relative;
    background-repeat: no-repeat;
    width: 100%;
}

.keyBG {
    margin-top: 30%;
    background: linear-gradient(#44E5DB, #21C6B5);
}

.accountBalance {
    font-family: 'baloo';
    text-align: center;
    width: auto;
    margin-top: 30%;   
}

.keyHeader {
    color: #E7FFFD;
    margin-top: 10%;
    font-family: 'baloo';
}

.keyText {
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.2rem;
    color: #ffffff;
    overflow: scroll;
}

/* transaction error */

.errorBG {
    background-image: url(images/balanceBG.png);
}

.errorText {
    margin-top: 20%;
    margin-bottom: 20%;
    font-family: 'baloo';
    color: #626262;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b1b1b1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b1b1b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b1b1b1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b1b1b1;
}